In [2]:
import pandas as pd

In [ ]:

df = pd.read_excel('webscraper_chaussure_homme.xlsx')
df.head()

In [6]:
# Afficher la liste des noms columns
df.columns

Index(['web-scraper-order', 'web-scraper-start-url', 'article_links',
       'article_links-href', 'Type_chaussures', 'Prix', 'Adresse',
       'Image-src'],
      dtype='object')

In [7]:
df = df.drop(columns=['web-scraper-order', 'web-scraper-start-url','article_links','article_links-href'])
df.head()

,Type_chaussures,Prix,Adresse,Image-src
0,Chaussures Homme,25 000 CFA,"Dakar Plateau, Dakar, Sénégal",https://images.coinafrique.com/thumb_5081254_u...
1,Chaussures Homme,Prix sur demande,"Fass, Dakar, Sénégal",https://images.coinafrique.com/thumb_2800924_u...
2,Chaussures Homme,Prix sur demande,Sénégal,https://images.coinafrique.com/thumb_3047707_u...
3,Chaussures Homme,6 000 CFA,"Dakar Plateau, Dakar, Sénégal",https://images.coinafrique.com/thumb_4932549_u...
4,Chaussures Homme,6 000 CFA,"Dakar Plateau, Dakar, Sénégal",https://images.coinafrique.com/thumb_4953661_u...

In [32]:
df.shape

(4232, 4)

In [10]:
#enlerverCFAdanslacolonneprix
df['Prix'] = df['Prix'].str.replace('CFA', '')
df['Prix']

0                25 000
1       Prix sur demande
2       Prix sur demande
3                 6 000
4                 6 000
              ...
4227             20 000
4228             15 000
4229             15 000
4230             40 000
4231             25 000
Name: Prix, Length: 4232, dtype: object

In [26]:
#Remplacer'Prix sur demande'par Nan dans la colonne Prix
df['Prix'] = df['Prix'].replace('Prix sur demande', '')
df['Prix']

0       25 000
1           NaN
2           NaN
3        6 000
4        6 000
         ...
4227    20 000
4228    15 000
4229    15 000
4230    40 000
4231    25 000
Name: Prix, Length: 4232, dtype: object

In [24]:
df.describe()

,Type_chaussures,Prix,Adresse,Image-src
count,4231,4232,4232,4203
unique,1,106,60,1179
top,Chaussures Homme,NaN,"Dakar, Sénégal",https://images.coinafrique.com/thumb_5153219_u...
freq,4231,826,1635,328

In [31]:
df.isna().sum() # le nombre de valeurs manquantes dans chaque variable
#df.isnull().any().sum() # le nombre de variable ayant des valeurs manquantes

Type_chaussures     1
Prix                0
Adresse             0
Image-src          29
dtype: int64

In [33]:
#Supprimer les lignes avec des valeurs manquantes
df= df.dropna()

In [34]:
df.isna().sum()

Type_chaussures    0
Prix               0
Adresse            0
Image-src          0
dtype: int64

In [35]:
df.shape

(4202, 4)

In [37]:
#supprimer les doublons
df.duplicated().sum()
df = df.drop_duplicates()

In [38]:
df.duplicated().sum()

0

In [39]:
df.dtypes

Type_chaussures    object
Prix               object
Adresse            object
Image-src          object
dtype: object

In [40]:
#convertir prix en integer
df['Prix'] = df['Prix'].astype('int64')

ValueError: invalid literal for int() with base 10: '25 000 '